* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-family: "Public Sans", sans-serif;
}
/* common code */
.main-content {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

:root {
  --main-color: #143c3c;
  --color-desc: #7d8188;
  --primary-color: #152427;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 173px;
  height: 57px;
  background: var(--main-color);
  border: 1.5px solid var(--main-color);
  border-radius: 40px;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.55556;
  color: #ffffff;
}

.btn:hover {
  opacity: 0.8;
}

.desc {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.71428;
  color: var(--color-desc);
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

img {
  object-fit: cover;
  object-position: center;
}

.name-section {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.125;
  color: #152427;
}

.name-section::before {
  position: absolute;
  top: 8px;
  left: -42px;
  content: "";
  display: inline-block;
  width: 25px;
  height: 1px;
  background: var(--primary-color);
}

.heading-section {
  display: inline-block;
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 4.2rem;
  line-height: 1.23809;
  color: var(--primary-color);
}

/* NAV */
body {
  height: 10000px;
}

nav {
  padding-top: 28px;
  background-color: #ccc;
  position: sticky;
  top: -18px;
  z-index: 10;
}

.nav-content {
  padding-bottom: 8px;
  margin-bottom: 5px;
}

.nav-content,
.nav-logo,
.navigation {
  display: flex;
  align-items: center;
}

.nav-logo span {
  margin-left: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #152427;
  font-size: 1.8rem;
  line-height: 1.55556;
}

.navigation {
  margin-left: auto;
  padding-right: 88px;
  gap: 38px;
}

.navigation li:hover {
  position: relative;
}

.navigation li:hover .navigation-li__item {
  display: block;
  bottom: -28px;
  left: 8px;
}

.navigation li .navigation-li__item {
  position: absolute;
  bottom: -6px;
  content: "";
  display: none;
  width: 16px;
  height: 2px;
  background: var(--main-color);
}

.navigation li a {
  padding: 8px;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.55556;
  color: #575d5e;
}

.navigation li a:hover {
  color: #152427;
}

.nav-line {
  width: 100%;
  height: 1px;
  background: linear-gradient(
    90deg,
    #ffffff 0%,
    #dddcdc 51.09%,
    rgba(213, 213, 213, 0) 99.68%
  );
}

/* HEADER */
/* HEADER TITLE */
header {
  padding-top: 60px;
  padding-bottom: 88px;
}

.header-content {
  display: flex;
  justify-content: space-between;
}

.header-content .header-title {
  padding-top: 43px;
}

.header-content .header-heading {
  width: 368px;
  font-weight: 800;
  font-size: 5rem;
  line-height: 1.2;
  color: #152427;
}

.header-content .header-desc {
  padding-top: 20px;
  width: 368px;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.55556;
  color: #575d5e;
}

.header-content .header-cta {
  display: inline-block;
  margin-top: 42px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
}

.header-content .header-cta .pause-icon {
  padding-left: 36px;
  padding-right: 15px;
  display: flex;
  align-items: center;
}

.pause-icon .pause-icon__part-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 43px;
  background: #83a17d;
  border-radius: 50%;
  margin-left: -21px;
}

.header-content .header-cta span {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.66667;
  color: #152427;
}

/* HEADER IMAGE */
.header-image .header-image__list {
  position: relative;
  padding-right: 25px;
  display: flex;
  gap: 20px;
}

.header-image .header-image__item {
  position: relative;
  z-index: 1;
}

.header-image .header-image__background {
  position: absolute;
  right: 176px;
  top: 130px;
  width: 340px;
  height: 340px;
  background: #4dbb9a;
  filter: blur(137px);
}

.header-image .header-image__list .header-image__item {
  width: 202px;
  height: 466px;
  border-radius: 110px;
}

.header-image .header-image__list .header-image__item:nth-of-type(2) {
  margin-top: 77px;
}

.header__ball-group,
.header__ball-group > img {
  position: absolute;
  z-index: 5;
}

.header__ball-group img:first-child {
  top: -35px;
  left: -173px;
}

.header__ball-group img:last-child {
  top: -16px;
  left: -205px;
}

.ball-group__two {
  transform: rotate(175.95deg);
  bottom: -26px;
  right: 240px;
}

/* LOGO SECTION */
.logo {
  margin-top: 42px;
}

.logo-content,
.logo-content__slack,
.logo-content__agworld,
.logo-content__heroku {
  display: flex;
  align-items: center;
}

.logo-content {
  gap: 64px;
  padding: 76px 121px;
  background: #e2eddf;
  border-radius: 100.5px;
}

.logo-content__google {
  font-weight: 500;
  font-size: 3.1rem;
  line-height: 1.48387;
  color: var(--main-color);
}

.logo-content__slack span {
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 1.5;
  color: var(--main-color);
}

.logo-content__agworld span {
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 1.5;
  color: #163c35;
  padding-left: 11px;
}

.logo-content__riotinto {
  font-family: "Sonsie One", cursive;
  font-weight: 400;
  font-size: 2.3rem;
  line-height: 1.30434;
  color: var(--main-color);
}

.logo-content__heroku span {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.9rem;
  line-height: 1.47368;
  letter-spacing: 0.105em;
  color: var(--main-color);
  padding-left: 14px;
}

/* SERVICES TITLE*/
.services {
  margin-top: 106px;
}

.services-heading {
  position: relative;
  padding-top: 12px;
  width: 520px;
}

.services-heading::after {
  position: absolute;
  right: 130px;
  bottom: 18px;
  content: "";
  display: inline-block;
  width: 66px;
  height: 2px;
  background: var(--primary-color);
}

.services__heading-direct {
  display: flex;
  justify-content: space-between;
}

.direction-group {
  margin-top: 37px;
  display: flex;
  align-items: center;
  gap: 17px;
}

.direction-group .direction-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e2eddf;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  color: var(--primary-color);
  transition: 0.3s;
}

.direction-group .direction-icon:hover {
  cursor: pointer;
  color: #fff;
  background: var(--main-color);
}

/* SERVICES CARDS */
.services-cards {
  margin-top: 76px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.services-cards__item img {
  cursor: pointer;
  display: block;
  border-radius: 20px 20px 0px 0px;
  width: 370px;
  height: 318px;
}

.services-cards__item:hover .services-cards__item--content {
  padding-left: 18px;
  background-color: #fff;
  box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
  border-radius: 0 0 20px 20px;
  cursor: pointer;
}

.services-cards__item--content {
  padding: 24px 0;
  transition: 400ms ease;
}

.services-cards__item--content .services-card__heading {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1;
  color: var(--primary-color);
}

.services-cards__item--content .services-card__desc {
  padding-top: 18px;
  width: 268px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.71428;
  color: var(--color-desc);
}

/* ABOUT */
.about {
  margin-top: 157px;
}

.about-content {
  display: flex;
  gap: 64px;
}

/* ABOUT IMAGE */
.about-img {
  position: relative;
  padding-top: 13px;
  display: flex;
  align-items: center;
  gap: 21px;
}

.about-img > img {
  width: 284px;
  height: 480px;
  box-shadow: 0px 2px 20px 7px rgba(94, 89, 89, 0.1);
  border-radius: 210px;
}

.about-img img:first-child {
  margin-top: 77px;
}

.about-img .about__ball-group img {
  position: absolute;
}

.about-img .about__ball-group img:first-child {
  top: -55px;
  left: 82px;
}

.about-img .about__ball-group img:last-child {
  top: -15px;
  left: 46px;
}

/* ABOUT DESIGNER */
.about__info-designer {
  padding: 19px 17px 11px 17px;
  position: absolute;
  right: 0;
  bottom: 15px;
  background: #ffffff;
  box-shadow: 0px 7px 54px rgba(154, 154, 154, 0.25);
  border-radius: 8px;
}

.about__info-designer .about__info-designer--heaiding {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  color: var(--primary-color);
}

.about__info-designer .about__info-designer--desc {
  margin-top: 6px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4;
  color: #575d5e;
  opacity: 0.4;
}

.about__info-designer .ratio {
  margin-top: 10px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4;
  color: var(--primary-color);
}

.about__info-designer .loading {
  position: relative;
  margin-top: 3px;
}

.about__info-designer .loading .loading-part1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 2px;
  background: #83a17d;
  border-radius: 10px;
}

.about__info-designer .loading .loading-part2 {
  width: 96px;
  height: 2px;
  background: #eaeaea;
  border-radius: 10px;
}

.about__info-designer .loding {
  width: 41px;
  margin-left: auto;
  margin-top: 3px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4;
  color: var(--primary-color);
}

.circle {
  margin-top: 3px;
  width: 10px;
  height: 10px;
  background: var(--main-color);
  border-radius: 50%;
  border: 3px solid #eaeaea;
}

.team {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team span {
  margin-top: 5px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4;
  color: #152427;
}

.team .user-avatar {
  display: flex;
  align-items: center;
  padding-left: 6px;
}

.team .user-avatar img {
  margin: 0;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  margin-left: -6px;
}

/* ABOUT TITLE */
.about-title {
  width: 485px;
}

.about-name {
  margin-left: 42px;
  padding-bottom: 20px;
}

.about-title .about-desc {
  margin-top: 11px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.625;
  color: var(--color-desc);
}

.about-info {
  padding-top: 37px;
  display: flex;
  align-items: center;
  gap: 24px;
  border-bottom: 1px solid var(--color-desc);
}

.about-info .about-info__data {
  font-weight: 600;
  font-size: 4.2rem;
  line-height: 1.238;
  color: var(--primary-color);
}

.about-info .about-info__desription {
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.71428;
  color: var(--color-desc);
}
/* PROCESS */
.process {
  margin-top: 105px;
}

/* PROCESS TITLE */
.process-tittle .process-name {
  margin-left: 42px;
}

.process-tittle .process-heading {
  position: relative;
  display: inline-block;
  width: 477px;
}

.process-tittle .process-heading::after {
  position: absolute;
  bottom: 16px;
  right: 18px;
  content: "";
  display: inline-block;
  width: 66px;
  height: 2px;
  background: var(--primary-color);
}

/* PROCESS SELECTION */
.process-selection {
  margin-top: 81px;
}

.process-selection__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 33px;
}

.process-selection__item:hover {
  background: #e2eddf;
  cursor: pointer;
}

.process-selection__item:first-child {
  position: relative;
  padding: 58px 0 54px 30px;
}

.process-selection__item--title {
  display: flex;
  gap: 64px;
}

.process-selection__item--serial {
  font-weight: 600;
  font-size: 7.2rem;
  line-height: 0.7222;
  color: var(--main-color);
}

.process-selection__item--info-name {
  margin-top: 16px;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1;
  color: var(--primary-color);
}

.process-selection__item--info-name:hover {
  text-decoration: underline;
}

.process-selection__item--info .process-selection__item--add-info {
  display: inline-block;
  margin-top: 22px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1;
  color: #575d5e;
}

.process-selection__item--info .process-selection__item--add-info:hover {
  text-decoration: underline;
}

/* IMAGE PROCESS CARD ONE */
.process-selection__item--img {
  position: absolute;
  right: 92px;
  bottom: 0;
}

/* DESC PROCESS CARD 2 AND 3 */
.process-selection__item:nth-of-type(2) {
  padding: 46px 0 21px 20px;
}

.process-line + .process-selection__item {
  padding: 54px 0 25px 20px;
}

.process-selection__item--desc {
  margin-right: 41px;
  width: 572px;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.55556;
  color: #7d8188;
}

.process-line {
  width: 100%;
  height: 3px;
  background: linear-gradient(
    180deg,
    #83a17d 4.17%,
    rgba(131, 161, 125, 0) 36.46%
  );
}

/* FEATURES */
.features {
  margin-top: 148px;
  padding: 116px 130px 63px 130px;
  background: #143c3c;
}

.features-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.features-title .features-heading {
  position: relative;
  display: inline-block;
  width: 457px;
  color: #e7f9f9;
}

.features-title .features-heading::after {
  position: absolute;
  bottom: 18px;
  right: 115px;
  content: "";
  display: inline-block;
  width: 66px;
  height: 2px;
  background: #83a17d;
}

.features-title .features-title__desc {
  width: 590px;
}

.features-title .features-title__desc p {
  width: 550px;
}

.features-title .features-title__desc p,
.features-title__desc .features-title__desc--add-info a {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.55556;
  color: #6a8383;
}

.features-title__desc .features-title__desc--add-info {
  padding-top: 13px;
  cursor: pointer;
}

.features-title__desc .features-title__desc--add-info a {
  color: #ffffff;
  margin-right: 26px;
}

/* FEATURES VIDEO */
.features-video {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  margin-top: 65px;
  background-color: #000;
  border-radius: 22px;
}

.features-video video {
  width: 1140px;
  border-radius: 22px;
}
.features-video img {
  position: absolute;
}

.features-wire {
  right: -58px;
  top: -166px;
}

.feature-ball {
  top: -75px;
  right: -52px;
  transform: rotate(176.99deg);
}

/* CUSTOMER */
.customers {
  margin-top: 140px;
}

/* CUSTOMER TITLE */
.customers-title {
  text-align: center;
}

.customers-title__heading {
  width: 520px;
}

.customers-title__desc {
  margin-left: auto;
  margin-right: auto;
  width: 547px;
  padding-top: 20px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.625;
  color: var(--color-desc);
}

/* CUSTOMER CARDS */
.customers-cards {
  margin-top: 103px;
  display: flex;
  align-items: center;
  gap: 45px;
}

/* CUSTOMER CARDS COMMON */
.customers-card__item {
  text-align: center;
  width: 350px;
  height: 362px;
  border: 1.5px solid #cecece;
  border-radius: 160px;
  transition: 0.3s;
}

.customers-card__item:hover {
  cursor: pointer;
  background: #ffffff;
  box-shadow: 0px 36px 100px rgba(111, 120, 111, 0.2);
  border: none;
  transform: translateY(-55px);
}
.customers-card__item--heading {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1;
  color: var(--primary-color);
}

.customers-card__item--desc {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.71428;
  color: var(--color-desc);
}

/* CUSTOMER CARDS PRIVATE */

/* CUSTOMER BLOG */
.customer-blog {
  padding: 79px 27px 72px 37px;
}

.customer-blog .customers-card__item--heading {
  padding-top: 26px;
}

.customer-blog .customers-card__item--desc {
  padding-top: 9px;
  width: 286px;
}

/* DOCUMENT */
.customer-document {
  padding: 65px 43px 103px 43px;
}

.customer-document .customers-card__item--heading {
  padding-top: 23px;
}

.customer-document .customers-card__item--desc {
  padding-top: 12px;
  width: 264px;
}

/* CUSTOMERS */
.customer-customers {
  padding: 46px 40px 121px 46px;
}

.customer-customers .customers-card__item--heading {
  padding-top: 19px;
}

.customer-customers .customers-card__item--desc {
  text-align: center;
  padding-top: 12px;
  width: 264px;
}

/* BLOGS */
.blogs {
  margin-top: 184px;
}

/* BLOGS TITLE */
.blogs-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blogs-title__name {
  margin-left: 42px;
}

.blogs-title__heading {
  position: relative;
  width: 520px;
}

.blogs-title__heading::after {
  position: absolute;
  bottom: 18px;
  right: -9px;
  content: "";
  display: inline-block;
  width: 82px;
  height: 3px;
  background: var(--primary-color);
}

.blogs-title__desc {
  margin-top: 23px;
  width: 409px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.625;
  color: var(--color-desc);
}

/* BLOG CARDS */
.blog-cards {
  margin-top: 90px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.blog-cards__item {
  border-radius: 40px;
  width: 360px;
}

.blog-cards__item img {
  display: block;
  width: 360px;
  height: 317px;
  border-radius: 40px 40px 0px 0px;
}

.blog-cards__item--content {
  position: relative;
  width: 100%;
  padding: 26px 0 12px 0;
  border-radius: 0px 0px 20px 20px;
  height: 203px;
  transition: 0.5s;
}

.blog-cards__item--content:hover {
  padding-left: 30px;
  padding-right: 33px;
  box-shadow: 0px 12px 74px rgba(91, 91, 91, 0.25);
}

.blog-cards__item .blog-cards__item--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 107px;
  height: 26px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2;
  color: #000000;
  background: #e2eddf;
  border-radius: 20px;
  transition: 0.5s;
}

.blog-cards__item:hover .blog-cards__item--btn {
  color: #e2eddf;
  background: var(--main-color);
}

.blog-cards__item .blog-cards__item--heading {
  padding-right: 10px;
  margin-top: 10px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.66667;
  color: var(--main-color);
  transition: 0.5s;
}

.blog-cards__item--content:hover .blog-cards__item--heading {
  width: 281px;
}

.blog-cards__item--line {
  position: absolute;
  top: 164px;
  width: 94%;
  height: 1px;
  background: #c4c4c4;
  transition: 0.5s;
}

.blog-cards__item--content:hover .blog-cards__item--line {
  width: 83%;
}

.blog-cards__item--time {
  position: absolute;
  margin-left: auto;
  top: 180px;
  right: 13px;
  width: 90px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2;
  color: #575d5e;
}

.blog-cards__item--content:hover .blog-cards__item--time {
  right: 23px;
}

/* FOOTER */

footer {
  margin-top: 102px;
  padding: 72px 0 50px;
  background: var(--main-color);
}

.footer-heading {
  color: #ffffff;
}

.footer__add-info {
  display: flex;
  padding-top: 25px;
}

.footer__add-info input {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1;
  color: #6a8383;
}

input:focus {
  outline: none;
}

.footer__add-info .footer__right-direction {
  padding: 5px;
  cursor: pointer;
  width: 26px;
  height: 16px;
  color: #C4C4C4;
  padding-left: 108px;
  margin-top: 10px;
}


